* {
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

section {
    width: auto;
    height: auto;
    scroll-behavior: smooth;
}

header {
    padding: 30px 30px 0px 30px;
}

.menus {
    display: flex;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.menu {
    flex: 1;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: red;
    text-decoration: underline;
}

main {
    background-color: #d5d5d5;
    border-radius: 30px;
    padding: 30px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.selections {
    display: flex;
    padding: 0px 15px 15px 15px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.selection {
    border: 1px solid transparent;
    border-bottom: none;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
}

.selection a:hover {
    color: red;
    text-decoration: underline;
    background-color: #ffcccc;
    border-radius: 30px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

.selection a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 10px;
    gap: 10px;
    font-family: monospace;
}

.merch {
    position: relative;
    transition: all .5s;
}

.merch img {
    display: block;
    width: 100%;
    height: auto;
}

.merch img:hover {
    transform: scale(0.9);
}

.merch-text h4 {
    margin: 0px;
}

.heart-icon {
    position: absolute;
    right: 0;
    color: rgb(124, 124, 124);
}

.heart-icon:hover {
    color: red;
}

.merch-price p {
    margin: 5px 0px;
}

.footer-bottom p {
    color: white;
    text-align: center;
    font-size: 8px;
}

@media (min-width:600px) {

    .menu {
        font-size: 25px;
    }

    .selections {
        font-size: 25px;
    }

    h4,
    .heart-icon,
    p {
        font-size: 22px;
    }

    .footer-bottom p {
        font-size: 17px;
    }
}

@media (min-width:990px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: black;
        margin-bottom: 30px;
        box-shadow: 4px 4px 30px rgb(0, 0, 0);
    }

    header img {
        width: 30%;
    }

    .menus {
        flex: 1;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 30px;
        gap: 30px;
        font-family: monospace;
    }

    .footer-bottom p {
        color: rgb(0, 0, 0);
    }
}

@media (max-width: 480px) {
    .menus {
        padding: 10px;
    }
}